<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">

  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum Title Page</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a curriculum-themed title page to a qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qctitlepage</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>title_name</ID>
          <ToolTip>Replace with the name of the section or chapter.</ToolTip>
          <Default>Title</Default>
        </Literal>
        <Literal>
          <ID>page_content</ID>
          <ToolTip>Replace with the introductory information for the section or chapter.</ToolTip>
          <Default>Enter the introductory information for your section.</Default>
        </Literal>
        <Literal>
          <ID>sub_title</ID>
          <ToolTip>Replace with the title of the first subsection in this section or chapter.</ToolTip>
          <Default>Enter the title for the subsection.</Default>
        </Literal>
        <Literal>
          <ID>sub_content</ID>
          <ToolTip>Replace with the rest of the content (subsections, paragraphs, etc) for the section or chapter.</ToolTip>
          <Default>Enter the rest of the content for this section or chapter here.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[
        <section>
          <title style="chapterNumber"></title>
          <p style="chapterTitle">$title_name$</p>

          <p style="title">INTRODUCTION</p>
          <p>
             $page_content$
          </p>
          <section>
             <title>$sub_title$</title>
             $sub_content$
          <!-- Insert all of the content for this section above this line -->   
          </section>
           <!-- This line can be removed after the curriculumStyles.xml fragment is included --> <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> 
        </section>  
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
  
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum Code Example</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a code example to a curriculum-themed qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qccode</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>code_content1</ID>
          <ToolTip>Replace with a single line of code.</ToolTip>
          <Default>Enter a line of code.</Default>
        </Literal>
        <Literal>
          <ID>code_content2</ID>
          <ToolTip>Replace with a single line of code.</ToolTip>
          <Default>Enter a line of code.</Default>
        </Literal>
        <Literal>
          <ID>code_content3</ID>
          <ToolTip>Replace with a single line of code.</ToolTip>
          <Default>Enter a line of code.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[
          <stack style="summary">
            <stack style="border">
              <p style="codeTitle"></p>
              <style name="paragraphs">
                <font name="monospace"/>
              </style>
              <p>$code_content1$</p>
              <p>$code_content2$</p>
              <p>$code_content3$</p>
            </stack>
          </stack>
           <!-- This line can be removed after the curriculumStyles.xml fragment is included --> <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> 
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
  
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum Question and Answer</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a question with hidden answer/solution to a curriculum-themed qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qcQA</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>QA_question</ID>
          <ToolTip>Replace with the question.</ToolTip>
          <Default>Enter question here.</Default>
        </Literal>
        <Literal>
          <ID>QA_answer</ID>
          <ToolTip>Replace with the answer or solution.</ToolTip>
          <Default>Enter full solution or hint to the question in this section. Answer can include paragraphs, equations, tables, etc.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[
      <stack style="questionAnswer">
      <p style="title qNum"></p>
      <table widths="10% 90%" grid="false">
        <row>
          <column>
            <image src="curriculumThemePack\question.png" inspect="false" />
          </column>
          <column>
            <p> $QA_question$ </p>
          </column>
        </row>
      </table>
      <p style="title">ANSWER</p>
      <table name="table" widths="10% 90%" grid="false">
        <row>
          <column>
            <image src="curriculumThemePack\answer.png" inspect="false" />
          </column>
          <column>
            <p style="collapsed"> $QA_answer$ </p>
          </column>
        </row>
      </table>  
      <button content="Show Answer">
        <onClick>
           table:Child(1):Child(2):Child(1).Style.Visibility = "visible";
        </onClick>
      </button>
    </stack>
         <!-- This line can be removed after the curriculumStyles.xml fragment is included --> <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> 
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
  
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum Question and Answer, with User Input</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a question with user-input and a hidden solution to a curriculum-themed qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qcQA</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>QAI_question</ID>
          <ToolTip>Replace with the question.</ToolTip>
          <Default>Enter question here. Include information on number of significant digits. For example: </Default>
        </Literal>
        <Literal>
          <ID>QAI_answer</ID>
          <ToolTip>Replace with the answer to the question. It will be used to check if the user-inputted answer is correct. Be careful not to include accidental spaces.</ToolTip>
          <Default>Enter answer here.</Default>
        </Literal>
        <Literal>
          <ID>QAI_solution</ID>
          <ToolTip>Insert solution or hint inside the following section. We recommend not including the final answer in your solution.</ToolTip>
          <Default>Enter full solution or hint to the question inside this stack. You can include images, equations, etc.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[ 
       <stack style="questionAnswer">
         <p style="title qNum"></p>
         <table grid="false" widths="10% 90%">
           <row>
             <column><image src="curriculumThemePack\question.png" inspect="false" /></column>
             <column><p> $QAI_question$ <i>Answer should be to two significant figures.</i></p></column>
           </row>
         </table>
         <p style="title">ANSWER</p>
         <p name="answer" style="collapsed">$QAI_answer$</p>
         <table name="table" grid="false" widths="10% 80% 10%">
           <row name="row">
             <column><image src="curriculumThemePack\answer.png" inspect="false" /></column>
             <column name="inCol"><textField name="input" placeholder="Insert  AnswerHere" /></column>
             <column name="markCol"><image name="mark" src="curriculumThemePack\invisible.png" inspect="false" /></column>
           </row>
         </table>
         <stack name="solution" style="collapsed">
           <p> $QAI_solution$ </p>
         </stack>
         <button content="Check Answer">
           <onClick>
             solution.Style.Visibility = "visible";
             if table.row.inCol.input.Text == answer.Text then
             table.row.markCol.mark.ImageSource = "curriculumThemePack/right.png";
             else
             table.row.markCol.mark.ImageSource = "curriculumThemePack/wrong.png";
             end
           </onClick>
         </button>
       </stack>
       <!-- This line can be removed after the curriculumStyles.xml fragment is included --> <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> ]]>
      </Code>
    </Snippet>
  </CodeSnippet>

  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum Question and Answer, with User Input in Scientific Notation</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a question with user-input in scientific notation, and a hidden solution to a curriculum-themed qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qcQA</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>QASCI_question</ID>
          <ToolTip>Replace with the question. Ensure that you specify the number of significant digits in the answer.</ToolTip>
          <Default>Enter question here. Include information on number of significant digits. For example: </Default>
        </Literal>
        <Literal>
          <ID>QASCI_answerA</ID>
          <ToolTip>Replace with the significand of the answer in scientific notation. i.e. For answer 1.2 x 10^-1, insert 1.2 here. Be careful not to include accidental spaces.</ToolTip>
          <Default>Enter significand here.</Default>
        </Literal>
        <Literal>
          <ID>QASCI_answerB</ID>
          <ToolTip>Replace with the exponent of the answer in scientific notation. i.e. For answer 1.2 x 10^-1, insert -1 here. Be careful not to include accidental spaces.</ToolTip>
          <Default>Enter exponent here.</Default>
        </Literal>
        <Literal>
          <ID>QASCI_solution</ID>
          <ToolTip>Insert solution or hint inside the following section. We recommend not including the final answer in your solution.</ToolTip>
          <Default>Enter full solution or hint to the question inside this stack. You can include images, equations, etc.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[
    <stack style="questionAnswer">
      <p style="title qNum"></p>
      <table grid="false" widths="10% 90%">
        <row>
          <column><image src="curriculumThemePack\question.png" inspect="false" /></column>
          <column>
            <p>
              $QASCI_question$ <i>Answer should be in scientific notation to two significant figures, i.e. $$ a.aa \times 10^{\pm b} $$ </i>
            </p>
          </column>
        </row>
      </table>
      <p style="title">ANSWER</p>
      <p name="answerSig" style="collapsed">$QASCI_answerA$</p>
      <p name="answerExp" style="collapsed">$QASCI_answerB$</p>
      <table name="table" grid="false" widths="10% 20% 20% 40% 10%">
        <row name="row">
          <column><image src="curriculumThemePack\answer.png" inspect="false" /></column>
          <column name="sigCol"><textField name="inputSig" placeholder="a.aa" /></column>
          <column><p style="sciNot">$\times$ 10^ </p></column>
          <column name="expCol"><textField name="inputExp" placeholder="b" /></column>
          <column name="imgCol"><image name="mark" src="curriculumThemePack\invisible.png" inspect="false" /></column>
        </row>
      </table>
      <stack name="solution" style="collapsed">
        <p> $QASCI_solution$  </p>
      </stack>
      <button content="Check Answer">
        <onClick>
          if table.row.sigCol.inputSig.Text == answerSig.Text and table.row.expCol.inputExp.Text == answerExp.Text then
          table.row.imgCol.mark.ImageSource = "curriculumThemePack/right.png";
          else
          table.row.imgCol.mark.ImageSource = "curriculumThemePack/wrong.png";
          solution.Style.Visibility = "visible";
          end
        </onClick>
      </button>
    </stack>
       <!-- This line can be removed after the curriculumStyles.xml fragment is included --> <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> ]]>
      </Code>
    </Snippet>
  </CodeSnippet>

  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum Multiple Choice Question</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a multiple choice question with a hidden solution to a curriculum-themed qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qcQA</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>MC_question</ID>
          <ToolTip>Replace with the question.</ToolTip>
          <Default>Enter question here.</Default>
        </Literal>
        <Literal>
          <ID>MC_answer</ID>
          <ToolTip>Replace with the letter that corresponds to the correct answer. E.g. "A".</ToolTip>
          <Default>Enter the letter that corresponds to the correct answer here.</Default>
        </Literal>
        <Literal>
          <ID>MC_answerA</ID>
          <ToolTip>Replace with choice A.</ToolTip>
          <Default>Enter choice A.</Default>
        </Literal>
        <Literal>
          <ID>MC_answerB</ID>
          <ToolTip>Replace with choice B.</ToolTip>
          <Default>Enter choice B.</Default>
        </Literal>
        <Literal>
          <ID>MC_answerC</ID>
          <ToolTip>Replace with choice C.</ToolTip>
          <Default>Enter choice C.</Default>
        </Literal>
        <Literal>
          <ID>MC_solution</ID>
          <ToolTip>Insert solution inside the following section. We recommend not including the final answer in your solution.</ToolTip>
          <Default>Enter full solution to the question inside this stack. You can include images, equations, etc.</Default>
        </Literal>
        <Literal>
          <ID>MC_hint</ID>
          <ToolTip>Insert hint inside the following section. We recommend not including the final answer in your solution.</ToolTip>
          <Default>Enter hint to the question inside this stack. You can include images, equations, etc.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[
      <stack style="questionAnswer">
      <p style="title qNum">
      </p>
      <table widths="10% 90%" grid="false">
        <row>
          <column>
            <image src="curriculumThemePack\question.png" inspect="false" />
          </column>
          <column>
            <p>$MC_question$</p>
          </column>
        </row>
      </table>
      <p style="title">ANSWER</p>
      <p name="answer" style="collapsed">$MC_answer$</p>
      <script>
        local selection = -1;
        local deselectedColor = color.silver;
        local selectedColor = color.rgb(50, 133, 184);

        local function chooseButton(i)
        if selection &gt; 0 then
        stack.table:Child(selection):Child(2):Child(1).Style.BackgroundColor = deselectedColor;
        end
        stack.table:Child(i):Child(2):Child(1).Style.BackgroundColor = selectedColor;
        selection = i;
        end
      </script>
      <stack orientation="horizontal" name="stack">
        <table name="table" widths="10% 20% 60% 10%" grid="false">
          <style name="buttons">
            <foreground color="white" />
            <background color="silver" />
          </style>
          <row name="row">
            <column>
              <image src="curriculumThemePack\answer.png" inspect="false" />
            </column>
            <column>
              <button content="A">
                <onClick>final.Text="A"; chooseButton(1);</onClick>
              </button>
            </column>
            <column>
              <p>$MC_answerA$</p>
            </column>
            <column name="column">
              <image name="mark" src="curriculumThemePack/invisible.png" inspect="false" />
            </column>
          </row>
          <row>
            <column />
            <column>
              <button content="B">
                <onClick>final.Text="B"; chooseButton(2);</onClick>
              </button>
            </column>
            <column>
              <p>$MC_answerB$</p>
            </column>
            <column>
              <image src="curriculumThemePack/invisible.png" inspect="false" />
            </column>
          </row>
          <row>
            <column />
            <column>
              <button content="C">
                <onClick>final.Text="C"; chooseButton(3);</onClick>
              </button>
            </column>
            <column>
              <p>$MC_answerC$</p>
            </column>
            <column>
               <image src="curriculumThemePack/invisible.png" inspect="false" />
             </column>
          </row>
          <!-- Insert the following code for each subsequent choice (Choice D, E, F, etc).  Delete if unnecessary.
          <row>
            <column />
            <column>
              <button content="Replace with Next Letter">
                <onClick>final.Text="Replace with Next Letter"; chooseButton(Replace with Next Number);;</onClick>
              </button>
            </column>
            <column>
              <p>Enter Choice Here</p>
            </column>
            <column>
              <image src="curriculumThemePack/invisible.png" inspect="false" />
            </column>
          </row> -->
        </table>
      </stack>
      <p name="final" style="collapsed" />
      <stack name="hint" style="collapsed">
        <p>  $MC_hint$ </p>
      </stack>
      <stack name="solution" style="collapsed">
        <p> $MC_solution$ </p>
      </stack>
      <button content="Check Answer">
        <onClick>
          if string.lower(final.Text) == string.lower(answer.Text) then
          stack.table.row.column.mark.ImageSource = "curriculumThemePack/right.png";
          solution.Style.Visibility = "visible";
          hint.Style.Visibility = "collapsed";
          else
          stack.table.row.column.mark.ImageSource = "curriculumThemePack/wrong.png";
          solution.Style.Visibility = "collapsed";
          hint.Style.Visibility = "visible";
          end
        </onClick>
      </button>
    </stack>
    <!-- This line can be removed after the curriculumStyles.xml fragment is included --> <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> ]]>
      </Code>
    </Snippet>
  </CodeSnippet>

  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum True or False Question</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a true or false question and a hidden solution to a curriculum-themed qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qcQA</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>TF_question</ID>
          <ToolTip>Replace with the question.</ToolTip>
          <Default>Enter true or false question here.</Default>
        </Literal>
        <Literal>
          <ID>TF_answer</ID>
          <ToolTip>Replace with True or False. Be careful not to include accidental spaces or characters.</ToolTip>
          <Default>Enter answer here as a full word: True or False. Do not include extra characters.</Default>
        </Literal>      
        <Literal>
          <ID>TF_solution</ID>
          <ToolTip>Insert solution inside the following section. We recommend not including the final answer in your solution.</ToolTip>
          <Default>Enter full solution to the question inside this stack. You can include images, equations, etc.</Default>
        </Literal>
        <Literal>
          <ID>TF_hint</ID>
          <ToolTip>Insert hint inside the following section. We recommend not including the final answer in your solution.</ToolTip>
          <Default>Enter hint to the question inside this stack. You can include images, equations, etc.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[
      <stack style="questionAnswer">
      <p style="title qNum"></p>
      <table grid="false" widths="10% 90%">
        <row>
          <column><image src="curriculumThemePack\question.png" inspect="false" /></column>
          <column><p>$TF_question$</p></column>
        </row>
      </table>
      <p style="title">ANSWER</p>
      <p name="answer" style="collapsed">$TF_answer$</p>
      <script>
         local deselectedBack = color.silver;
         local selectedBack = color.rgb(50, 133, 184);

         local function chooseButton(i)
         if i == 0 then
         table:Child(1):Child(2).trueButt.Style.BackgroundColor = selectedBack;
         table:Child(1):Child(3).falseButt.Style.BackgroundColor = deselectedBack;
         elseif i == 1 then
         table:Child(1):Child(2).trueButt.Style.BackgroundColor = deselectedBack;
         table:Child(1):Child(3).falseButt.Style.BackgroundColor = selectedBack;
         end
         end
      </script> 
      <table name="table" grid="false" widths="10% 40% 40% 10%">
        <style name="buttons">
          <foreground color="white" />
          <background color="silver" />
        </style>
        <row name="row">
          <column><image src="curriculumThemePack\answer.png" inspect="false" /></column>
          <column>
            <button content="True" style="TF" name="trueButt">
              <onClick>final.Text = "True"; chooseButton(0);</onClick>
            </button>
          </column>
          <column>
            <button content="False" style="TF" name="falseButt">
              <onClick>final.Text = "False"; chooseButton(1);</onClick>
            </button>
          </column>
          <column name="column"><image name="mark" src="curriculumThemePack\invisible.png" inspect="false" /></column>
        </row>
      </table>
      <p name="final" style="collapsed" />
      <stack name="solution" style="collapsed">
        <p> $TF_solution$ </p>
      </stack>
      <stack name="hint" style="collapsed">
        <p> $TF_hint$ </p>
      </stack>
      <button content="Check Answer">
        <onClick>
          if string.lower(final.Text) == string.lower(answer.Text) then
          table.row.column.mark.ImageSource = "curriculumThemePack/right.png";
          solution.Style.Visibility = "visible";
          hint.Style.Visibility = "collapsed";
          else
          table.row.column.mark.ImageSource = "curriculumThemePack/wrong.png";
          solution.Style.Visibility = "collapsed";
          hint.Style.Visibility = "visible";
          end
        </onClick>
      </button>
    </stack>
       <!-- This line can be removed after the curriculumStyles.xml fragment is included --> <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> ]]>
      </Code>
    </Snippet>
  </CodeSnippet>

  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum Fill in the Blank Question</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a fill-in-the-blank style question with a hidden solution to a curriculum-themed qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qcQA</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>Fill_question</ID>
          <ToolTip>Replace with the question.</ToolTip>
          <Default>Enter fill-in-the-blank question here.</Default>
        </Literal>
        <Literal>
          <ID>Fill_answer1</ID>
          <ToolTip>Replace with the answer to the first "blank". Be careful not to include accidental spaces or characters.</ToolTip>
          <Default>Enter first "blank" answer here.</Default>
        </Literal>
        <Literal>
          <ID>Fill_answer2</ID>
          <ToolTip>Replace with the answer to the second "blank". Be careful not to include accidental spaces or characters.</ToolTip>
          <Default>Enter second "blank" answer here.</Default>
        </Literal>
        <Literal>
          <ID>Fill_solution</ID>
          <ToolTip>Insert solution or hint inside the following section. We recommend not including the final answer in your solution.</ToolTip>
          <Default>Enter full solution or hint to the question inside this stack. You can include images, equations, etc.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[ 
      <stack style="questionAnswer">
      <p style="title qNum"></p>
      <table widths="10% 90%" grid="false">
        <row>
          <column>
            <image src="curriculumThemePack\question.png" inspect="false" />
          </column>
          <column>
            <p>$Fill_question$ Replace "blank" words with $$ \underline{\hspace{1.5cm}} $$.</p>
          </column>
        </row>
      </table>
      <p style="title">ANSWER</p>
      <p name="answer1" style="collapsed">$Fill_answer1$</p>
      <!-- If there is only one "blank" in the question, delete the next line: -->
      <p name="answer2" style="collapsed">$Fill_answer2$</p>
      <!-- For each additional "blank", insert the following code:
        <p name="answer3" style="collapsed">Enter answer here.</p>
        Be sure to rename each subsequent paragraph, i.e. name="answer4", etc. -->
      <table name="table" widths="10% 80% 10%" grid="false">
        <row>
          <column>
            <image src="curriculumThemePack\answer.png" inspect="false" />
          </column>
          <column>
            <stack name="input">
              <textField name="input1" placeholder="Insert First Blank Here" />
              <textField name="input2" placeholder="Insert Second Blank Here" />
              <!-- For each additional "blank", insert the following code:
        <textField name="input3" placeholder="Insert Third Blank Here"/>
        Be sure to rename each subsequent textField, i.e. name="input4", etc. -->
            </stack>
          </column>
          <column>
            <image name="mark" src="curriculumThemePack\invisible.png" inspect="false" />
          </column>
        </row>
      </table>
      <stack name="solution" style="collapsed">
        <p> $Fill_solution$ </p>
      </stack>
      <button content="Check Answer">
        <onClick>
          solution.Style.Visibility = "visible";
          <!-- If there is only one "blank", the "if statement" needs to be reduced to: 
                 if table:Child(1):Child(2).input.input1.Text == answer1.Text then -->
          <!-- If there are extra "blanks", the "if statement" needs to be appended to include a check for each additional correct answer. Use 'and' in between each additional check. For example, 
                 if table:Child(1):Child(2).input.input1.Text == answer1.Text and table:Child(1):Child(2).input.input2.Text == answer2.Text and table:Child(1):Child(2).input.input3.Text == answer3.Text and table:Child(1):Child(2).input.input4.Text == answer4.Text then -->
          if table:Child(1):Child(2).input.input1.Text == answer1.Text and table:Child(1):Child(2).input.input2.Text == answer2.Text then
          table:Child(1):Child(3).mark.ImageSource = "curriculumThemePack/right.png";
          else
          table:Child(1):Child(3).mark.ImageSource = "curriculumThemePack/wrong.png";
          end
        </onClick>
      </button>
    </stack>
    <!-- This line can be removed after the curriculumStyles.xml fragment is included --> <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> ]]>
      </Code>
    </Snippet>
  </CodeSnippet>  
  
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum Summary</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a summary block to a curriculum-themed qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qcsummary</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>summary_title</ID>
          <ToolTip>Replace with the chapter of the summary (e.g. SUMMARY OF CHAPTER 3, SECTION 2 SUMMARY). Capitalize all title words.</ToolTip>
          <Default>(OPTIONAL) ENTER THE CHAPTER TITLE OF THE SUMMARY HERE.</Default>
        </Literal>
        <Literal>
          <ID>summary_text</ID>
          <ToolTip>Replace with a summary of your section or chapter.</ToolTip>
          <Default>Enter a summary for your section or subsection.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[
    <stack style="summary">
      <stack style="border">
        <p style="title">SUMMARY $summary_title$</p>
        <p>
          $summary_text$
        </p>
      </stack>
    </stack>
    <!-- This line can be removed after the curriculumStyles.xml fragment is included -->
    <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> ]]>
      </Code>
    </Snippet>
  </CodeSnippet>

  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>qdex Curriculum Case Study</Title>
      <Author>Abbey Desjarlais</Author>
      <Description>Add a case study block to a curriculum-themed qdex document. Requires the curriculumStyles.xml fragment.</Description>
      <HelpUrl>qdexapps.com/curriculum</HelpUrl>
      <Shortcut>qccasestudy</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
         <Literal>
          <ID>casestudy_title</ID>
          <ToolTip>Replace with the title of the case study (e.g. CASE STUDY: TITLE). Capitalize all title words.</ToolTip>
          <Default>(OPTIONAL) ENTER THE TITLE OF THE CASE STUDY HERE.</Default>
        </Literal>
        <Literal>
          <ID>casestudy_text</ID>
          <ToolTip>Replace with all of the information relevant to the case study. Can include paragraphs, images, tables, etc.</ToolTip>
          <Default>Enter the case study information here.</Default>
        </Literal>
      </Declarations>
      <Code Language="XML">
        <![CDATA[
    <stack style="caseStudy">
      <p style="title">CASE STUDY $casestudy_title$</p>
      $casestudy_text$
    </stack>
    <!-- This line can be removed after the curriculumStyles.xml fragment is included -->
    <p style="invisible">This document is formatted improperly because the curriculumStyles.xml fragment was not included at the beginning of your document.</p> ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
 
</CodeSnippets>